@import "normalize.css";

/* Stylesheet for TOP-library */

/* CSS custom properties */

:root {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  --navbar-bg: #fdba74;
  --content-bg: #fff7ed;
  --main-font-color: #1c1917;
  --form-color-bg: #fafaf9;
  --btn-submit: #bef264;
  --btn-cancel: #fca5a5;
}

/* Set responsive background color */

html,
body,
#main {
  background-color: var(--content-bg);
  height: 100vh;
  width: 100vw;
  padding: 0;
}

/* Font Settings */

li, button {
  font-weight: 600;
}

h3 {
  padding: 1rem;
}

/* Navbar settings */

#navigation {
  background-color: var(--navbar-bg);
  color: var(--content-bg);
  padding: 0;
}

/* Card library */

.card {
  width: max(300px, 15vw);
  padding: 30px 10px 30px 10px;
}

.cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.delete-card {
  background-color: var(--navbar-bg);
  width: 100px;
  border: 2px solid var(--main-font-color);
  border-radius: 12px;
}

.delete-card:hover {
  background-color: var(--btn-cancel);
}

/* Pop-up form */

.add-book-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--form-color-bg);
  border: 3px solid var(--navbar-bg);
  border-radius: 12px;
  z-index: 2;
}

.add-book-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(500px, 95vw);
  height: 500px;
}

.form-item {
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: center;
}

.form-item > label {
  align-self: flex-start;
}

.form-btn {
  display: flex;
  margin: 1rem;
  width: 350px;
  justify-content: space-between;
}

.form-btn > button {
  border: 2px solid var(--main-font-color);
}

.form-btn > button:hover {
  background-color: var(--navbar-bg);
}

button[type="submit"] {
  background-color: var(--btn-submit);
}

button[type="cancel"] {
  background-color: var(--btn-cancel);
}

input {
  width: 350px;
}

.frost {
  display: none;
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}
