@import "normalize.css";

/* Stylesheet for TOP-library */

/* CSS custom properties */

:root {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  --navbar-bg: #fdba74;
  --content-bg: #fff7ed;
  --main-font-color: #1c1917;
  --form-color-bg: #fafaf9;
  --btn-submit: #bef264;
  --btn-cancel: #fca5a5;
}

/* Set responsive background color */

html,
body,
#main {
  background-color: var(--content-bg);
  height: 100vh;
  width: 100vw;
  padding: 0;
}

/* Font Settings */

li, button, h1 {
  font-weight: 600;
}

h3 {
  padding: 1rem;
}

/* Navbar settings */

#navigation {
  background-color: var(--navbar-bg);
  color: var(--content-bg);
  height: 100px;
  padding: 0;
}

.add-book {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--main-font-color);
  border-radius: 12px;
  padding-bottom: 7px;
  margin: 1rem;
  width: 60px;
  height: 60px;
  font-size: 32px;
  font-weight: 800;
  background-color: var(--form-color-bg);
}

.add-book:hover {
  background-color: var(--btn-submit);
}

/* Card library */

.card {
  width: 400px;
  padding: 30px 10px 30px 10px;
}

.cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
}

.delete-card, .edit-card {
  background-color: var(--navbar-bg);
  width: 100px;
  margin-right: 3rem;
  border: 2px solid var(--main-font-color);
  border-radius: 12px;
}

.delete-card:hover {
  background-color: var(--btn-cancel);
}

.edit-card:hover {
  background-color: var(--btn-submit);
}

ul > li {
  width: 300px;
  height: 40px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

li:last-child {
  margin-top: 1.5rem;
}

.progress-bar {
  border: 1px solid var(--main-font-color);
  border-radius: 12px;
}

progress {
  width: 83%;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value {
  background-color: var(--btn-submit);
}

/* Pop-up form */

.add-book-form, .edit-form-div {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--form-color-bg);
  border: 3px solid var(--navbar-bg);
  border-radius: 12px;
  z-index: 2;
}

.add-book-container, .edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(500px, 95vw);
  height: 500px;
}

.form-item {
  display: flex;
  height: 54px;
  width: 350px;
  flex-direction: column;
  align-items: center;
}

.form-item > label {
  align-self: flex-start;
}

.form-btn {
  display: flex;
  margin: 1rem;
  width: 350px;
  justify-content: space-between;
}

.form-btn > button {
  border: 2px solid var(--main-font-color);
}

.form-btn > button:hover {
  background-color: var(--navbar-bg);
}

button[type="submit"] {
  background-color: var(--btn-submit);
}

button[type="cancel"] {
  background-color: var(--btn-cancel);
}

input {
  width: 350px;
}

.frost {
  display: none;
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

input[id="progress"] {
  display: hidden;
}

/* Update Progress Form */
.edit-form-div {
  height: 200px;
}

.edit-form {
  align-items: center;
  height: 100px;
}

.edit-form-div > h3 {
  text-align: center;
  margin: 0;
  padding: 1rem;
}